{% extends 'base/base_cards_form.html' %}

{% block contenido-nav %}
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Categoria - Registro</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'categorias:index' %}">Categorias</a></li>
            <li class="breadcrumb-item active">Registro</li>
        </ol>
    </div><!-- /.col -->
{% endblock %}

{% block cardbody %}
    {% csrf_token %}
    {{ form.as_p|safe }}
{% endblock %}