{% extends 'base/base_cards_list_datatable.html' %}

{% block contenido-nav %}
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Categorias</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'base:index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Categorias</li>
        </ol>
    </div><!-- /.col -->

{% endblock %}

{% block tabla-columnas %}
    <th scope="col">#</th>
    <th scope="col" style="width: 30%;">Nombre</th>
    <th scope="col" style="width: 50%;">Descripcion</th>
    <th scope="col" style="width: 20%;">Acciones</th>
{% endblock %}

{% block tabla-body %}
    {% if object_list %}
        {% for cat in object_list %}
            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.nombre }}</td>
                <td>{{ cat.descripcion }}</td>
                <td style="text-align: center">
                    <!-- Boton Editar -->
                    <a class="btn btn-outline-warning btn-sm" style="margin-top: 1px;" data-toggle="tooltip"
                       data-placement="top"
                       title="" data-original-title="Editar la categoría {{ cat.id }}"
                       href="{% url 'categorias:editar' cat.id %}">
                        <i class="far fa-edit"></i>
                    </a>

                    <a class="btn btn-outline-danger btn-sm" style="margin-top: 1px;" data-toggle="tooltip"
                                   data-placement="top"
                                   title="" data-original-title="Eliminar la categoría {{ cat.id }}"
                                    onclick="Delete('{{ cat.id }}')"
                                   href="#">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block js-datatable %}
    order: [ 1, 'asc' ],
    "columnDefs": [
    {"visible": false, "targets": 0}
    ], // ocultar columna ID
{% endblock %}

{% block js-list %}
    <script type="application/javascript">
        function Delete(id) {

            // Necesario para la seguridad del formulario
            var csrftoken = Cookies.get('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.confirm({
                theme: 'material',
                title: '¡Cuidado!',
                icon: 'fa fa-exclamation-triangle',
                content: '¿Seguro que quiere ELIMINAR la categoría ' + id + ' ?',
                columnClass: 'medium',
                typeAnimated: true,
                cancelButtonClass: 'btn btn-secondary',
                draggable: true,
                dragWindowBorder: false,
                buttons: {
                    danger: {
                        text: "Si",
                        btnClass: 'btn btn-primary',
                        action: function () {

                            // función AJAX
                            $.ajax({
                                url: "{% url 'categorias:eliminar' %}",
                                type: "POST",
                                data: {'id': id},
                                dataType: "json",
                            }).done(function (data) {
                                if (!data.hasOwnProperty("error")) {
                                    alert_ok();
                                    return false;
                                }
                                alert_error(data.error);
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                alert_error(textStatus + ": " + errorThrown);
                            }).always(function (data) {
                                location.reload();
                            })
                        }
                    },
                    info: {
                        text: "No",
                        btnClass: 'btn btn-secondary',
                        action: function () {}
                    },
                }
            })

        }
    </script>
{% endblock %}